# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
pbr!=2.1.0,>=2.0.0 # Apache-2.0
pycodestyle>=2.5.0
Pecan>=1.3.3
alembic>=0.8.10 # MIT
keystonemiddleware>=4.17.0 # Apache-2.0
SQLAlchemy!=1.1.5,!=1.1.6,!=1.1.7,!=1.1.8,>=1.0.10 # MIT
wheel>=0.33.4
WSME>=0.8.0 # MIT
PyMySQL>= 0.9.3
pytest>= 4.6.3
tox>= 3.12.1 
WebTest>=2.0.33
flake8>= 3.7.7 

